node_modules/
dist/

.env
.env.*

*.log
npm-debug.log*

**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfplan
terraform/.terraform.lock.hcl
terraform/function-source.zip

.DS_Store
.idea/
.vscode/
